name: Build Executables

on:

  push:

    tags:

      - 'v*'

jobs:

  build:

    runs-on: ${{ matrix.os }}

    strategy:

      matrix:

        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:

    - uses: actions/checkout@v4

    

    - name: Set up Python

      uses: actions/setup-python@v4

      with:

        python-version: '3.10'

    

    - name: Install dependencies

      run: |

        python -m pip install --upgrade pip

        pip install -r requirements.txt

        pip install pyinstaller

    

    - name: Build

      run: |

        if [ "$RUNNER_OS" == "Linux" ]; then

          pyinstaller xss_scanner.py --onefile --name=xss-scanner

        elif [ "$RUNNER_OS" == "macOS" ]; then

          pyinstaller xss_scanner.py --onefile --name=XSSScanner

        else

          pyinstaller xss_scanner.py --onefile --name=XSSScanner

        fi

      shell: bash

    

    - name: Upload Artifact

      uses: actions/upload-artifact@v4

      with:

        name: build-${{ matrix.os }}

        path: dist/
